.logo-image{
    background:mistyrose;
    width:60px;
}

.logo-label{
    color:orange;
    /* margin-right: 1%; */
    font-weight: bold;
    font-size: 150%;
}

.user-label{
    color:aqua;
    text-align: center;
    font-weight:bold;
    margin-right: 1%;
}

.nav-items{
    float:right;
}

.expand-nav-button{
    width:30px;
    border-radius: 15%;
}


#Logout-button{
    /* margin-left:20px;
    margin-right:20px;  */
    margin-bottom: 10px;  
}

#Profile-button{
    /* margin-left:20px; */
    margin-right:10px;
    margin-bottom: 10px; 
}

#Help-button{
    /* margin-left:20px; */
    margin-right:10px;
    margin-bottom: 10px; 
}

.quick-links{
    /* background-image: repeating-linear-gradient(95deg,rgba(47, 47, 187, 0.541),rgba(131, 91, 151, 0.329),rgba(136, 48, 136, 0.767)) ; */
    /* background-repeat: repeat; */
    width:fit-content;
    text-align: left;
    /* margin-left: 0%; */
    min-height: fit-content;
    padding-top: 0%;
    padding-bottom: 30%;
    padding-left: 8%;
}

.q-links{
    color:rgb(22, 129, 218);
    font-size: 110%;
}

.q-links:hover{
    color:rgba(205, 31, 221, 0.808);
}

#Profile-badge{
    /* transform: translateY(-15px); */
    transform: translate(5px,-15px);
}

.stats{
    text-align: left;
    transform: translateX(-10%)
}

#Main-body{
    background-image: url(images/background_qa4.jpg);
    background-size: cover;
    min-height: 100vh;
    background-repeat: round;
    color:whitesmoke;

}

#User-logged-in-navbar{
    display: none;
}


#Top-Questions{
    margin-top: 40%;
    text-align: left;
    border-color: rgba(96, 186, 189, 0.795);
    border-style: solid;
    border-width: 2px;  
    padding: 1%;
    height: fit-content;
    width:150%;
}

#Ask-question{
    display: none;
}

.top-questions-heading{
    text-shadow: 0 0 5px rgba(247, 175, 116, 0.795), 0 0 5px rgba(214, 132, 25, 0.89);
    width: fit-content;
}

.questions:hover{
    color:rgba(205, 31, 221, 0.808);
}

.nav-search-bar{
    padding: 5px 0px 5px 20px;
    box-sizing: border-box;
	cursor: pointer;
	border-radius: 30px;
    border: 1px solid transparent;
    width: 80%;
}

.search-icon{
    background-repeat: no-repeat;
    height:35px;
    width:35px;
    border-radius: 20%;
    box-shadow: 7px 7px 7px -5px aqua ;
    opacity: 0.8;
    margin-left: 2%;
    text-align: center;
}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .questions{display: none}
}
@media screen and (max-width: 800px){
    #Top-Questions{display: none}
}