.logo-image{
    background:mistyrose;
    width:60px;
}

.logo-label{
    color:orange;
    /* margin-right: 1%; */
    font-weight: bold;
    font-size: 150%;
}

.user-label{
    color:aqua;
    text-align: center;
    font-weight:bold;
    margin-right: 1%;
}

.nav-items{
    float:right;
}

.expand-nav-button{
    width:30px;
    border-radius: 15%;
}


#Logout-button{
    /* margin-left:20px;
    margin-right:20px;  */
    margin-bottom: 10px;  
}

#Profile-button{
    /* margin-left:20px; */
    margin-right:10px;
    margin-bottom: 10px; 
}

#Help-button{
    /* margin-left:20px; */
    margin-right:10px;
    margin-bottom: 10px; 
}

.quick-links{
    background-image: repeating-linear-gradient(95deg,rgba(47, 47, 187, 0.541),rgba(131, 91, 151, 0.329),rgba(136, 48, 136, 0.767)) ;
    background-repeat: repeat;
    width:100%;
    text-align: center;
    /* margin-left: 0%; */
    min-height: 100vw;
    padding-top: 80%;
}

.q-links{
    color:white;
    font-size: 110%;
}

.q-links:hover{
    color:rgba(6, 237, 253, 0.911);
}

#Profile-badge{
    /* transform: translateY(-15px); */
    transform: translate(5px,-15px);
}

.stats{
    text-align: left;
    transform: translateX(-10%)
}

#Main-body{
    background-image: url(images/user_back3.jpeg);
    background-size: contain;
    min-height: 100vh;
    background-repeat: round;
    color:whitesmoke;
    font-size: large;

}

.nav-search-bar{
    padding: 5px 0px 5px 20px;
    box-sizing: border-box;
	cursor: pointer;
	border-radius: 30px;
    border: 1px solid transparent;
    width: 80%;
    border-color: chartreuse;
    border-width: 2px;
}

.search-icon{
    background-repeat: no-repeat;
    height:35px;
    width:35px;
    border-radius: 20%;
    box-shadow: 7px 7px 7px -5px aqua ;
    opacity: 0.8;
    margin-left: 2%;
    text-align: center;
} 

.bio-body{
    width: 100%;
    overflow-y: auto;
    resize: none;
    word-wrap: break-word;
    /* background-color: rgba(248, 252, 255, 0.85); */
}

#Top-Questions{
    margin-top: 40%;
    text-align: left;
    border-color: rgba(96, 186, 189, 0.795);
    border-style: solid;
    border-width: 2px;  
    padding: 1%;
    height: fit-content;
    width:150%;
}


.tips-questions-heading{
    text-shadow: 0 0 5px rgba(247, 175, 116, 0.795), 0 0 5px rgba(214, 132, 25, 0.89);
    width: 100%;
    text-align: center;
}

.questions:hover{
    color:rgba(205, 31, 221, 0.808);
}

.question-body{
    width: 100%;
    overflow-y: auto;
    resize: none;
    word-wrap: break-word;
    background-color: rgba(248, 252, 255, 0.85);
}

#Tips-Answering{
    border-radius: 5%;
    width:40%;
    height: fit-content;
    border-color: rgb(255, 72, 0);
    border-style: double;
    overflow: hidden;
    padding: 2%;
    position: absolute;
    margin-left: 98%;
    margin-top:-70%;
    z-index: 5;
}

.list-of-featues{
	list-style-type: lower-greek;
	text-align: left;
    color:white;
    overflow:visible;
	
}

#User-main-pane{
    margin-top:1%;
}


@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

@media screen and (max-width: 950px){
    #Tips-Answering{display: none}
}