<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Answering Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Answering_Policy.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="main.js"></script> -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/images/icons/favicon.ico') }}"/>
</head>
<body id="main-body">
    <div class="jumbotron jumbotron-fluid" id="main-heading">
        <div class="container">
          <h1 class="display-4" >IIITH Stack Overflow - Code of Conduct</h1>
          <p class="lead">This Code of Conduct helps us build a community that is rooted in kindness, collaboration, and mutual respect.</p>
        </div>
      </div>

      <div class="text-body">
            <div class="row">
                <div class="col-sm-6">
                        <p style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;text-align: center;font-size: 150%; color: antiquewhite;">IIIT Stack Overflow Policies:</p>      
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                        <div class="quick-links">
                                <a href="index" class="q-links">Home</a>
                                <br>
                                <a href="about" class="q-links">About</a>
                                <br>
                                <a href="faq" class="q-links">FAQ</a>
                                <br>
                               </div>

                </div>
                <div class="col-sm-5">
                    <h3 class="behaviour">Unaccptable Behaviour</h3>
                    <ul class="list-of-policies">
                        <li><span class="image"><img src="static/css/images/wrong.png" width="25px">  No subtle put-downs or unfriendly language </span></li>
                        <li><span class="image"><img src="static/css/images/wrong.png" width="25px">  No name-calling or personal attacks</span></li>
                        <li><span class="image"><img src="static/css/images/wrong.png" width="25px">  No bigotry</span></li>
                        <li><span class="image"><img src="static/css/images/wrong.png" width="25px">  No harassment</span></li>
                        
                    </ul>
                    
                </div>
                <div class="col-sm-5">
                    <h3 class="behaviour">Acceptable Behaviour </h3>
                    
                    <ul class="list-of-policies">
                        <li><span class="image"><img src="static/css/images/correct.png" width="25px">  Be kind and friendly</span></li>
                        <li><span class="image"><img src="static/css/images/correct.png" width="25px">  Be clear and constructive when giving feedback, and be open when receiving it</span></li>
                        <li><span class="image"><img src="static/css/images/correct.png" width="25px">  If you’re here to help others, be patient and welcoming</span></li>
                        <li><span class="image"><img src="static/css/images/correct.png" width="25px">  Answer with unambiguous language</span></li>
                         
                    </ul>
                    
                </div>
            </div>
            <div class="container" style="width:100%">
                <h4 style="color:aliceblue">Reporting:</h4>
                <p style="color:whitesmoke;text-align: center"> If you have any complaints or find any acceptable behaviour then send an email to <span style="color:greenyellow">report@stackoverflow.iiith.com</span></p>
                <h4 style="color:aliceblue">Enforcement:</h4>
                <p style="color:whitesmoke;text-align: center"> <span style="color:yellow; font-weight: bold;" >Warning:</span>  For most first-time misconduct, moderators will remove offending content and send a warning. </p>
                <p style="color:whitesmoke;text-align: center"> <span style="color:orange; font-weight: bold;" >Account Suspension:</span> For repetitive misconduct, moderators will impose a temporary suspension. </p>
                <p style="color:whitesmoke;text-align: center"> <span style="color:red; font-weight: bold;" >Account Expulsion:</span> Moderators will expel people who display a pattern of harmful destructive behavior toward our community. </p>
                
            </div>
            <p style="color:whitesmoke;text-align: center">&copy;A Team</p>
                    
      </div>
</body>
</html>