<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ask Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Ask_Ques.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/User_HomePage.js')}}"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/images/icons/favicon.ico') }}"/>
</head>
<body id="Main-body">
        <nav class="navbar sticky-top navbar-expand-sm bg-dark" id="User-logged-in-navbar">
                <a class="navbar-brand" href="https://www.iiit.ac.in/">
                    <img src="static/css/images/iiith_logo.png" alt="Logo" class="logo-image">
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span><img src = "static/css/images/expand_navbar.png" class = "expand-nav-button"></span>
                      </button>
                      <label class="nav-item mr-auto">
                            <label class="logo-label">IIITH Stack Overflow</label>
                          </label>
                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item">
                            <form class="form-inline" action="#">
                                <input type="search" placeholder="Search for Answers..." class="nav-search-bar">
                                <button class = "btn btn-outline-primary search-icon" type="submit"><span><img src="static/css/images/search_icon.png" width="20px"></span></button>
                            </form>
                        </li>
                        <li class="nav-item">
                                <label class="user-label">Welcome User: {{username}}</label>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-warning" id="Help-button" href="#">Help</a>
                        </li>
                        <li class="nav-item ">
                            <form name="profile" class="form-inline" action="userpage" method="POST">
                                <button class="btn btn-outline-success" type="submit" id="Profile-button">Profile</button>
                                <!-- <button href="/userpage" class=" btn btn-outline-primar q-links" type="link">Profile </button> -->
                            </form>
                        </li>
                        <li class="nav-item">
                        <a class="btn btn-outline-danger" id="Logout-button" href="logoutaskques">Logout</a>
                    </li>
                    </ul>
                </div>
              </nav>


    <h1 class="display-4" style="text-align:center;">Ask a Question</h1>

    <div class="row">
            <div class="col-sm-2">
               <div class="quick-links">
                <a href="index" class="q-links">Home</a>
                <br>
                <a href="about" class="q-links">About</a>
                <br>
                <a href="#" class="q-links">Support</a>
                <br>
                <a href="#" class="q-links">Answering Policy</a>
                <br>
               </div>
            </div>
            <div class="col-sm-6" id="User-main-pane">
                <div class="container">
                        <form action="/askQuestion" method="POST">
                                <div class="form-group">
                                  <label for="question-title" style="font-weight:bold;font-size:large">Title of Question:</label>
                                  <input type="text" class="form-control" name="question_title" id="question-title" placeholder="Enter the title of your question" style=" background-color: rgba(248, 252, 255, 0.85);" required>
                                </div>
                                <div class="form-group">
                                  <label for="question-body" style="font-weight:bold;font-size:large">Body of the question</label>
                                  <br>
                                  <textarea class="question-body" name="question_body" id="question-body" rows = 15 placeholder="The details of the questions..." required></textarea>
                                </div>
                                <div class="form-group">
                                        <label for="question-tags" style="font-weight:bold;font-size:large">Tags for Question:</label>
                                        <input type="text" class="form-control" name="question_tags" id="question-tags" placeholder="Enter the tags of your question" style=" background-color: rgba(248, 252, 255, 0.85);" required>
                                </div>
                                <button type="submit" class="btn btn-primary" style="text-align: center">Post Question</button>
                                
                            </form>
                </div>
                
            </div>
            <div class="column-sm-4" >
                <div class="panel" id="Tips-Answering">
                        <h3 class="tips-questions-heading">Tips for asking questions</h3>
                        <ol class="list-of-featues">
                                <li><p>Ask questions clearly providing details. </p></li>
                                <li><p>Ask questions which can be answered and not just discussed. </p></li>
                                <li><p>Indent code (if any) with 4 spaces </p></li>
                                <li><p>Tags can help you categorize your question. </p></li>
                                <li><p>Favour using existing popular tags </p></li>
                                <li><p>Tags are optional </p></li>
                                
                            </ol>

                </div>
        </div>
            
    </div>

</body>
</html>