<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FAQ.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- <script src="main.js"></script> -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
</head>
<body id="main-body">

    <div class="jumbotron jumbotron-fluid" id="main-heading">
        <div class="container">
          <h1 class="display-4" >IIITH Stack Overflow - FAQ</h1>
          <p class="lead">Common Questions and Answers about IIITH Stack Overflow</p>
        </div>
      </div>

      <div class="text-body">
            <div class="row">
                <div class="col-sm-6">
                    <p></p>  
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                        <div class="quick-links">
                                <a href="index" class="q-links">Home</a>
                                <br>
                                <a href="about" class="q-links">About</a>
                                <br>
                                <a href="coc" class="q-links">Answering Policy</a>
                                <br>
                               </div>

                </div>
                <div class="col-sm-7">
                    <div class="container-body">
                        <ol class="list-of-featues">
                            <li><span class="features-heading"><span style="color:greenyellow">Q:</span> How to view answers to questions? </span><p>With IIITH Stack Overflow you can view hundreds of questions that the members of the community regularly post and answer. To search for answers use the search bar on the top to search for questions using question title. You don't need to register of sign in to search for answers. </p></li>
                            <li><span class="features-heading"><span style="color:greenyellow">Q:</span> How to ask a question? </span><p>With IIITH Stack Overflow you can ask questions on myraid subjects and be assured that you'll be answered. All you need to do is Register with the community. You can sign-in only using your @students.iiit.ac.in or @research.iiit.ac.in email addresses. Questions can be asked directly from the User Profile Dashboard. Question can also be asked by clicking on Ask Question button while viewing a question after logging in. </p></li>
                            <li><span class="features-heading"><span style="color:greenyellow">Q:</span> How to answer a question? </span><p>After registering with the community, you get to answer the questions. What's even better is that with the reputation system you can be assured that your quality answers always reach the top and pehaps even be rated as the best possible answer. To answer either search for questions from the User Profile Dashboard for questions using tags or Title. You can even directly answer the question directly form the question page after logging in.</p></li>
                            <li><span class="features-heading"><span style="color:greenyellow">Q:</span> How to post comments? </span><p>If you want more clarification to a posted answer or question, you can use the 'Plus' button in the comment area to add a comment. However you must be looged in to add a  comment.</p></li>   
                            <li><span class="features-heading"><span style="color:greenyellow">Q:</span> Upvotes and Downvotes? </span><p>Each question and answer can be upvoted or downvoted. Upvote if you find it useful. Downvote if you find it to be deviating or unclear. You must be logged in to be able to upvote or downvote. </p></li>   
                            <li><span class="features-heading"><span style="color:greenyellow">Q:</span> Accept answer? </span><p>If the question you have asked has been answered to your satisfaction, you may accept the answer.  On accepting the answer, all other users will see a green tick mark on the answer. Needless to say you can accept answers to only questions that you asked and you must be logged in to accept an answer. </p></li>   
                        </ol>
                        <p style="color:black;text-align: center">&copy;A Team</p>
                    </div>
                </div>
            </div>
            
      </div>
</body>
</html>


