<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ILTQA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	
	 <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/images/icons/favicon.ico') }}"/>
     
</head>
<body id="Main_Body">
    <div class="main-heading" id="Main_Title">
        <h1 class="display-3">IIIT Stack Overflow</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
           <div class="quick-links">
            <a href="about" class="q-links">About</a>
            <br>
            <a href="#" class="q-links">Support</a>
            <br>
            <a href="#" class="q-links">Answering Policy</a>
            <br>
           </div>
        </div>
        <div class="col-sm-6" style="text-align:center">
                <div class="login-wrap">
                        <div class="login-html">
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                            <div class="login-form">
                                <div class="sign-in-htm">
                                    <div class="group">
                                        <label for="user" class="label">Username</label>
                                        <input id="user" type="text" class="input">
                                    </div>
                                    <div class="group">
                                        <label for="pass" class="label">Password</label>
                                        <input id="pass" type="password" class="input" data-type="password">
                                    </div>
                                    <div class="group">
                                        <input id="check" type="checkbox" class="check" checked>
                                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="Sign In">
                                    </div>
                                    <div class="hr"></div>
                                    <div class="foot-lnk">
                                        <a href="#forgot" class="forgot-pass">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="sign-up-htm">
                                    <form id="signup-form" action="/userpage" onsubmit="return Validate_SignUp()" method="post">
                                    <div class="group">
                                        <label for="username" class="label">Username <span id="user_name-tooltip"></span></label>
                                        <input id="username" type="text" class="input" required onblur="Validate_Username()">
                                    </div>
                                    <div class="group">
                                            <label for="email" class="label">Email Address <span id="email-tooltip"></span></label>
                                            <input id="email" type="email" class="input" required onblur="Validate_Email()">
                                        </div>
                                    <div class="group">
                                        <label for="newpass" class="label">Password <span id="password-tooltip"></span></label>
                                        <input id="newpass" type="password" class="input" data-type="password" required onblur="Validate_Password1()">
                                    </div>
                                    <div class="group">
                                        <label for="newpassr" class="label">Repeat Password <span id="password-repeat-tooltip"></span></label>
                                        <input id="newpassr" type="password" class="input" data-type="password" required onblur="Validate_Password2()">
                                    </div>
                                    
                                    <div class="group">
                                        <input type="submit" class="button" id="sign-up" value="Sign Up">
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class = "col-sm-3">
            <button class="accordion" id="panel-but1" onclick="panel1()">Top 10 Questions</button>
            <div class="panel">
            <a href="#" class="questions">Question1 is here</a>
            <br>
            <a href="#" class="questions">Question2 is here</a>
            <br>
            <a href="#" class="questions">Question3 is here</a>
            <br>
            <a href="#" class="questions">Question4 is here</a>
            <br>
            <a href="#" class="questions">Question5 is here</a>
            <br>
            <a href="#" class="questions">Question6 is here</a>
            <br>
            <a href="#" class="questions">Question7 is here</a>
            <br>
            <a href="#" class="questions">Question8 is here</a>
            <br>
            <a href="#" class="questions">Question9 is here</a>
            <br>
            <a href="#" class="questions">Question10 is here</a>
            </div>

            <button class="accordion" id="panel-but2" onclick="panel2()">CSE</button>
            <div class="panel">
                <a href="#" class="questions">Question1 is here</a>
                <br>
                <a href="#" class="questions">Question2 is here</a>
                <br>
                <a href="#" class="questions">Question3 is here</a>
                <br>
                <a href="#" class="questions">Question4 is here</a>
                <br>
                <a href="#" class="questions">Question5 is here</a>
                <br>
                <a href="#" class="questions">Question6 is here</a>
                <br>
                <a href="#" class="questions">Question7 is here</a>
                <br>
                <a href="#" class="questions">Question8 is here</a>
                <br>
                <a href="#" class="questions">Question9 is here</a>
                <br>
                <a href="#" class="questions">Question10 is here</a>
            </div>

            <button class="accordion" id="panel-but3" onclick="panel3()">Campus Life</button>
            <div class="panel">
                <a href="#" class="questions">Question1 is here</a>
                <br>
                <a href="#" class="questions">Question2 is here</a>
                <br>
                <a href="#" class="questions">Question3 is here</a>
                <br>
                <a href="#" class="questions">Question4 is here</a>
                <br>
                <a href="#" class="questions">Question5 is here</a>
                <br>
                <a href="#" class="questions">Question6 is here</a>
                <br>
                <a href="#" class="questions">Question7 is here</a>
                <br>
                <a href="#" class="questions">Question8 is here</a>
                <br>
                <a href="#" class="questions">Question9 is here</a>
                <br>
                <a href="#" class="questions">Question10 is here</a>
            </div>
        </div>
    </div>
</body>
</html>

