<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Home Screen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/QandA.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/User_HomePage.js')}}"></script>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/images/icons/favicon.ico') }}"/>



            
    </head>
    <body id="Main-body">
        <nav class="navbar sticky-top navbar-expand-sm bg-dark" id="User-logged-in-navbar">
            <a class="navbar-brand" href="https://www.iiit.ac.in/">
                <img src="static/css/images/iiith_logo.png" alt="Logo" class="logo-image">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><img src = "expand_navbar.png" class = "expand-nav-button"></span>
                  </button>
                  <label class="nav-item mr-auto">
                        <label class="logo-label">IIITH Stack Overflow</label>
                      </label>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item">
                            <label class="user-label">Welcome User: user_namex</label>
                    </li>
                <li class="nav-item">
                    <a class="btn btn-outline-warning" id="Help-button" href="#">Help</a>
                </li>
                <li class="nav-item ">
                    <a class="btn btn-outline-success" id="Profile-button" href="#">Profile<span class="badge badge-light" id="Profile-badge">5</span></a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-danger" id="Logout-button" href="#">Logout</a>
                </li>
                </ul>
            </div>
          </nav>
          <nav class="navbar sticky-top navbar-expand-sm bg-dark" id="User-logged-out-navbar">
            <a class="navbar-brand" href="https://www.iiit.ac.in/">
                <img src="static/css/images/iiith_logo.png" alt="Logo" class="logo-image">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><img src = "expand_navbar.png" class = "expand-nav-button"></span>
                  </button>
                  <label class="nav-item mr-auto">
                        <label class="logo-label">IIITH Stack Overflow</label>
                      </label>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item">
                    <a class="btn btn-outline-warning" id="Help-button" href="#">Help</a>
                </li>
                <li class="nav-item ">
                    <a class="btn btn-outline-success" id="Profile-button" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-primary" id="Logout-button" href="#">Sign Up</a>
                </li>
                </ul>
            </div>
          </nav>
          <div class="row">
                <div class="col-sm-2">
                   <div class="quick-links">
                    <a href="#" class="q-links">Home</a>
                    <br>
                    <a href="#" class="q-links">About</a>
                    <br>
                    <a href="#" class="q-links">Support</a>
                    <br>
                    <a href="#" class="q-links">Answering Policy</a>
                    <br>
                   </div>
                </div>
                <div class="col-sm-7" id="User-main-pane">
                    <h1 class="display-4">Question to be Asked</h1>
                    <hr style="width:90%">
                    <div class="container">
                        <label>The first question asked will be displayed here</label>
                    </div>
                    
                </div>
                <div class="column-sm-3" >
                        <button class="btn btn-primary" style="float:center; margin-top: 10%;">Ask Question</button>
                    <div class="panel" id="Top-Questions">
                        <h3 class="top-questions-heading">Top Questions</h3>
                        <a href="#" class="questions">Question1 is here</a>
                        <br>
                        <a href="#" class="questions">Question2 is here</a>
                        <br>
                        <a href="#" class="questions">Question3 is here</a>
                        <br>
                        <a href="#" class="questions">Question4 is here</a>
                        <br>
                        <a href="#" class="questions">Question5 is here</a>
                        <br>
                        <a href="#" class="questions">Question6 is here</a>
                        <br>
                        <a href="#" class="questions">Question7 is here</a>
                        <br>
                        <a href="#" class="questions">Question8 is here</a>
                        <br>
                        <a href="#" class="questions">Question9 is here</a>
                        <br>
                        <a href="#" class="questions">Question10 is here</a>
                    </div>
            </div>
                
        </div>



    </body>
</html>