<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>User Home Screen</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/User_HomePage.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/User_HomePage.js')}}"></script>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>



            
    </head>
    <body id="Main-body">

        <nav class="navbar sticky-top navbar-expand-sm bg-dark">
            <a class="navbar-brand" href="https://www.iiit.ac.in/">
                <img src="{{url_for('static', filename='images/iiith_logo.png')}}" alt="Logo" class="logo-image">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span><img src = "{{url_for('static', filename='images/expand_navbar.png')}}" class = "expand-nav-button"></span>
                  </button>
                  <label class="nav-item mr-auto">
                        <label class="logo-label">IIITH Stack Overflow</label>
                      </label>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item">
                                <form class="form-inline" action="/searchtitle" name="search" method="POST">
                                    <input type="search" placeholder="Search for Answers..." class="nav-search-bar" name="ques_by_title">
                                    <button class = "btn btn-outline-primary search-icon" type="submit"><span><img src="{{url_for('static', filename='images/search_icon.png')}}" width="20px"></span></button>
                                </form>
                        </li>
                    <li class="nav-item">
                        {%if logged_in %}
                            <label class="user-label">Welcome User: {{username}} </label>
                        {%endif%}
                    </li>
                <li class="nav-item">
                    <a class="btn btn-outline-warning" id="Help-button" href="faq">FAQ</a>
                </li>
                
                    
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-danger" id="Logout-button" href="logoutuser">Logout</a>
                </li>
                </ul>
            </div>
        </nav>
        
        <div class="row">
            <div class="col-sm-2">
                <div class="quick-links">
                    <a href="index" class="q-links">Home</a>
                    <br>
                    <a href="about" class="q-links">About</a>
                    <br>
                    <!-- <a href="#" class="q-links">Support</a>
                    <br> -->
                    <a href="coc" class="q-links">Answering Policy</a>
                    <br>
                </div>

            </div>
            <div class="column-sm-4">
                <div class="card" style="width: 12rem; background-color: rgba(230, 230, 250, 0.788);margin-top:10%;">
                    <img src="data:image;base64,{{ image }}" style="width:100px;display: block;text-align: center;margin-left: 23%" alt="User Avatar">
                    <ul class="list-group list-group-flush" >
                        <li class="list-group-item" style="background-color: rgba(66, 77, 168, 0.45)">Reputation: {{userinfo.reputation}}</li>
                        <li class="list-group-item" style="background-color: rgba(66, 77, 168, 0.45)">Name: {{userinfo.username}}</li>
                        <li class="list-group-item" style="background-color: rgba(66, 77, 168, 0.45)">Member Since: {{userinfo.joined}}</li>
                    </ul>
                        
                </div>
            </div>
            <div class="col-sm-6" id="User-main-pane">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="false">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile-edit" role="tab" aria-controls="profile" aria-selected="false"> Edit Profile & Settings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="askques-tab" data-toggle="tab" href="#ask-ques" role="tab" aria-controls="ask-ques" aria-selected="false"> Ask Question</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="ansques-tab" data-toggle="tab" href="#answer-ques" role="tab" aria-controls="answer-ques" aria-selected="false"> Answer Question</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="activity" role="tabpanel" aria-labelledby="activity-tab">this is activity tab. User's history goes here.
                    </div>
                    <div class="tab-pane fade" id="profile-edit" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="edit-profile-container">
                            <label class="h4">Edit Profile:</label>
                            <label></label>
                            <div class="form-group">
                                <label for="Email" style="font-weight:bold">Email:</label>
                                <input class="form-control" type="text" placeholder={{userinfo.email}} readonly>
                            </div>
                            <form action="/updateprofile" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="Display-name" style="font-weight:bold">Display Name:</label>
                                    <input type="text" class="form-control" id="Display-name" name="display_name" placeholder="Your Display Name" required>
                                </div>
                                <div class="form-group">
                                        <label for="change-dp" style="font-weight:bold">Change Profile Picture:</label>
                                        <input type="file" class="form-control-file" id="change_dp" name="change_dp">
                                </div>
                                <div class="form-group" style="font-weight:bold">
                                        <label for="bio-body">Bio:</label>
                                        <br>
                                        <textarea class="form=control bio-body" name="bio" id="bio-body" rows = 8 placeholder={{userinfo.user_bio}}></textarea>
                                    </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ask-ques" role="tabpanel" aria-labelledby="answer-ques-tab">   
                        <div class="container">
                            <form action="/askQuestion" method="POST">
                                <div class="form-group">
                                    <label for="question-title" style="font-weight:bold;font-size:large">Title of Question:</label>
                                    <input type="text" class="form-control" name="question_title" id="question-title" placeholder="Enter the title of your question" style=" background-color: rgba(248, 252, 255, 0.85);" required>
                                </div>
                                <div class="form-group">
                                    <label for="question-body" style="font-weight:bold;font-size:large">Body of the question</label>
                                    <br>
                                    <textarea class="question-body" name="question_body" id="question-body" rows = 15 placeholder="The details of the questions..." required></textarea>
                                </div>
                                <div class="form-group">
                                        <label for="question-tags" style="font-weight:bold;font-size:large">Tags for Question:</label>
                                        <input type="text" class="form-control" name="question_tags" id="question-tags" placeholder="Enter the tags of your question" style=" background-color: rgba(248, 252, 255, 0.85);">
                                </div>
                                <button type="submit" class="btn btn-primary" style="text-align: center">Post Question</button>
                                    
                            </form>
                        </div>

                        <div class="panel" id="Tips-Answering">
                            <h3 class="tips-questions-heading">Tips for asking questions</h3>
                            <ol class="list-of-featues">
                                    <li><p>Ask questions clearly providing details. </p></li>
                                    <li><p>Ask questions which can be answered and not just discussed. </p></li>
                                    <li><p>Indent code (if any) with 4 spaces </p></li>
                                    <li><p>Tags can help you categorize your question. </p></li>
                                    <li><p>Favour using existing popular tags </p></li>                                        
                                </ol>
                        </div>
                                                
                    </div>
                    <div class="tab-pane fade" id="answer-ques" role="tabpanel" aria-labelledby="answer-ques-tab" style="margin:5%;">
                        <label for="answer-tags" style="font-weight:bold;font-size:larger">Search for Question by Tag:</label>
                        <form action="/searchtag" class="form-inline" method="POST">
                            <input type="search" class="form-control" id="answer-tags"  name="ques_by_tag" placeholder="Enter question tags to search" style=" background-color: rgba(248, 252, 255, 0.85);width:50%;" required>
                            <button class = "btn btn-outline-primary search-icon" type="submit" style="width:45px;height:45px"><span><img src="{{url_for('static', filename='images/search_icon.png')}}"  width="30px"></span></button>
                        </form>
                        <br>
                        <label for="answer-title" style="font-weight:bold;font-size:larger">Search for Question by Title:</label>
                        <form action="/searchtitle" class="form-inline" method="POST">
                            <input type="search" class="form-control" name="ques_by_title" id="ques_by_title" placeholder="Enter question title to search" style=" background-color: rgba(248, 252, 255, 0.85);width:50%;" required>
                            <button class = "btn btn-outline-primary search-icon" type="submit" style="width:45px;height:45px"><span><img src="{{url_for('static', filename='images/search_icon.png')}}"  width="30px"></span></button>
                        </form>
                    </div>
                </div>        
            </div>
        </div>

    </body>
</html>